:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

app-header {
  display: block;
  flex-shrink: 0;
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

app-footer {
  display: block;
  flex-shrink: 0;
  width: 100%;
  margin-top: auto;
}
