* {
  box-sizing: border-box;
  font-family: 'Pompiere', sans-serif;
}
html {
  background-color: black;
  height: 100dvh;
}
body {
  margin: 0;
}

:root {
  --primary-font: rgb(32, 33, 36);
  --secondory-font: rgb(60, 64, 67);
}
