name: angular build 

on: 
  push:
    branches-ignore:
      - dev
      - release

jobs:
  build:
    uses: ./.github/workflows/build-reusable.yml
    with:
      base-href: /${{ github.event.repository.name }}/

