name: angular build

on:
  workflow_run:
    workflows: ['auto pr - ci - dev → release', 'ci - task → dev']
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Build Angular app
        run: |
          npm run build -- --configuration production \
          --base-href /${{ github.event.repository.name }}/
